html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
}
h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 5%;
    font-style: italic;
    margin-top: 180px;
    
}

video{
  transform: scaleX(-1);
}

body {
  background-color:#22a128;
  padding: 8px;
}

#start {
    position: relative;
    top:40;
    width: 100%;
    text-align: center;
}
input {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

button {
  display: block;
  margin: auto;
  position: relative;
  top: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: #353738;
  border-radius: 10px;
  color: white; 
  /* cursor: pointer; */
 
}
button:not(:disabled){
    cursor: pointer;
    background-color: #000f1c;
}
button:disabled {
    cursor: not-allowed;
    background-color: #7691a8;
}
button:hover{
    background: #ffa012;
  color: #fff;
}

video {
  width: 100%;
}

#videos {
  display: grid;
  grid-gap: 16px;
  width: 100%;
  grid-template-columns: 1fr 3fr;
}

#self-view {
  grid-column: 1;
  background-color: black;
}

#remote-view {
  grid-column: 2;
  background-color: black;
  height: 95vh;
}
